<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Food</title>
  </head>

  <body>
    <h1>Choose a Door!</h1>
    <!--<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z">-->

    <form method=POST>
    <h2>which do you choose?</h2>
    <input type="radio" name="first_question" value="one">first door
    <input type="radio" name="first_question" value="two">second door
    <input type="radio" name="first_question" value="three">third door
    <input type="submit" value="get ready kids">

    </form>

  </body>
</html>
